.product-form {
    width: 100%;
}

.product-form__label {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.product-form__select {
    cursor: pointer;
    padding: .3rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.product-form__description {
    margin-top: 1rem;
}

.product-form__description-unit {
    font-weight: 600;
}

@media (min-width: 425px) {
    .product-form {
        width: 18rem;
    }
}