/* Header styles */
body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    min-height: 100vh;
}

/* Always place footer to the bottom */
body::after {
    content: '';
    display: block;
    height: 2rem;
}

#root {
    width: 90%;
    margin: auto;
}

.page-header {
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
}

.page-title {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

header .btn:first-child {
    margin-right: 1rem;
}

.btn {
    border-radius: 4px;
    cursor: pointer;
    font-size: .9rem;
    padding: .5rem;
    transition: background-color .3s;
}

.btn--primary {
    background-color: #0d6efd;
    color: #fff;
}

.btn--secondary {
    background-color: #dc3545;
    color: #fff;
}

footer {
    border-top: 2px solid #000;
    padding: 0 2rem;
    text-align: center;
    margin-top: 2rem;
    bottom: 0%;
    position: absolute;
    width: calc(90% - 0.1rem);
}

input::placeholder {
    font-style: italic;
    opacity: .7;
}

@media (min-width: 768px) {
    .page-title {
        font-size: 2rem;
    }

    .page-header {
        padding: 1rem 0;
    }

    .btn {
        font-size: 1rem;
    }

    .btn--primary:hover {
        background-color: #0a5ed9;
    }

    .btn--secondary:hover {
        background-color: #c92736;
    }
}