.modal-container {
    background-color: hsla(244, 100%, 0%, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    z-index: 2;
}

.modal {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 4px;
    padding: 2rem;
    text-align: center;
    max-width: 16rem;
    animation: modalUp .3s ease;
}

.modal__message {
    font-size: 1.1rem;
}

.modal__btn {
    margin-top: .7rem;
}

@keyframes modalUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 768px) {
    .modal {
        max-width: 25rem;
    }
}