.product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-grid {
    border: 2px solid #000;
    border-radius: 4px;
    display: inline-block;
    padding: 1.3rem;
    margin-top: 1rem;
    width: 100%;
}

.delete-checkbox {
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
    width: 18px;
    height: 18px;
    position: relative;
}

.delete-checkbox:checked {
    background-color: #0d6efd;
    border-color: transparent;
}

.delete-checkbox:checked::after {
    content: "";
    display: inline-block;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    width: 6px;
    height: 10px;
    left: 5px;
    top: 1px;
    position: absolute;
    transform: rotate(45deg);
}

.product-grid__info {
    margin: 1rem 0;
    text-align: center;
}

@media (min-width: 426px) {
    .product-list {
        justify-content: flex-start;
        gap: 1rem;
    }

    .product-grid {
        width: calc(50% - 0.5rem);
    }
}

@media (min-width: 560px) {
    .product-grid {
        width: calc(33.33% - 0.7rem);
    }
}

@media (min-width: 768px) {
    .product-grid {
        width: calc(25% - 0.8rem);
    }
}